<div class="tabbed-controls">
    <div id="tabbedchat-privacy" class="split-button">
        <button type="button" class="ui-control IC" data-tab="IC" {{#if (eq activetab "IC")}}aria-pressed="true"{{/if}}  aria-label="Public Roll">Personnages</button>
        <button type="button" class="ui-control OTHER" data-tab="OTHER" {{#if (eq activetab "OTHER")}}aria-pressed="true"{{/if}} aria-label="Private GM Roll">Rolls</button>
        <button type="button" class="ui-control OOC" data-tab="OOC" {{#if (eq activetab "OOC")}}aria-pressed="true"{{/if}} aria-label="Blind GM Roll">Joueurs</button>
    </div>
</div>